body {
    min-height: 100%;
    height: auto;
    padding-top: 70px; 
}
#video {
    width: 640;
    margin: 20px auto;
}
#video .vjs-big-play-button {
    left: 40%;
    top: 33%;
    width: 20%;
    height: 33%;
}

.feedlist a:first-child .thumb {
    border-top-left-radius: 4px;
}
.feedlist a:last-child .thumb {
    border-bottom-left-radius: 4px;
}
.feedlist .thumb {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 60px;
    background: #ffffff;  
}
.feedlist .thumb:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.feedlist .thumb img {
    width: 100%;
    vertical-align: middle;
}
.feedlist a.list-group-item {
    padding-left: 70px;
    padding-right: 50px;
}
.feedlist a.btn.octicon-rss {
    position: relative;
    float: right;
    right: 12px;
    top: -44px;
}

h1 {
        font-size: 24px;
    }
.feed-image {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) { 
    .feed-image {
        width: 160px;
        height: 160px;
    }
    h1 {
        font-size: 36px;
    }
}
@media (min-width: 992px) { 
    .feed-image {
        width: 250px;
        height: 250px;
    }
    h1 {
        font-size: 42px;
    }
}
.feed-image:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.feed-image img {
    width: 100%;
    vertical-align: middle;
}
h1, h1 span {
    vertical-align: top;
}
.itemlist li {
    height: 50px;
}
.itemlist li .btn {
    height: 36px;
    width: 36px;
}

.itemlist li.is-playing {
    color: #FFF;
    background-color: #2196F3;
    border-color: #2196F3;
}
.itemlist li.is-playing .btn {
    color: #2196F3;
    background-color: #fff;
    background-image: none;
}
.itemlist li {
    padding-right: 80px;
    overflow: hidden;
}
.itemlist li .buttons {
    position: absolute;
    right: 6px;
    top: 6px;
}

/* So player doesn't overlap bottom items */
.itemlist {
    margin-bottom: 85px;
}
/* player styles */
.player {
    position: fixed;
    width: 100%;
    margin: 0;
    left: 0;
    background-color: #2196F3;
    color: #fff;
    height: 75px;
    transition: bottom 1s ease-out;
    bottom: 0;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.3);
}
.player .player-info {
    height: 25px;
    padding: 0 5px;
    vertical-align: middle;
}
.player .player-controls {
     height: 50px;
}
.player.is-hidden {
    bottom: -75px;
}
.player .player-title {
    color: #def;
}
.player .player-time {
    color: #fff;
}
.player .player-controls button {
    background-color: #2196F3;
    color: #B2DBFB;
    padding: 0;
    border-width: 0;
    height: 50px;
    padding: 0 5px;
    width: 50px;
    vertical-align: middle;
}
.player .player-controls button:hover {
    color: #fff;
    transition: all 0.2s ease 0s;
}
.player .player-skip-ahead, .player .player-skip-back {
    font-size: 18px;
}
.player .player-controls button span {
    display: block;
    font-family: "Josefin Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.player .player-seekbar {
    display: inline-block;
    margin: 0 22px;
    width: 50%;
}
.player .player-seekbar .slider {
    display: inline-block;
    height: 50px;
    width: 100%;
}
.player .player-seekbar .slider-track {
    height: 6px;
}
.player .player-seekbar .slider-handle {
    margin-left: -7px;
    margin-top: -4px;
    width: 14px;
    height: 14px;
}
.player .player-seekbar .tooltip.top {
    margin-top: -20px;
}
.player .player-copy-link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #B2DBFB;
    height: 50px;
    width: 50px;
}
.player .player-copy-link:hover {
    color: #fff;
    transition: all 0.2s ease 0s;
}