body {
    min-height: 100%;
    height: auto;
}
.feed-image {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    box-shadow: 2px 2px 5px #888888;
}
.feed-image:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.feed-image img {
    width: 100%;
    vertical-align: middle;
}
.itemlist li {
    height: 46px;
}
.itemlist li.is-playing {
    color: #FFF;
    background-color: #428BCA;
    border-color: #428BCA;
}
.itemlist li.is-playing .btn {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
/* So player doesn't overlap bottom items */
.itemlist {
    margin-bottom: 85px;
}
/* player styles */
.player {
    position: fixed;
    width: 100%;
    margin: 0;
    left: 0;
    background-color: #1d1f21;
    color: #ffffff;
    height: 75px;
    transition: bottom 1s ease-out;
    bottom: 0;
}
.player .player-info {
    height: 25px;
    padding: 0 5px;
    vertical-align: center;
}
.player .player-controls {
     height: 50px;
}
.player.is-hidden {
    bottom: -75px;
}
.player .player-title {
    color: #ccddee;
}
.player .player-time {
    color: #ccddee;
}
.player .player-controls button {
    background-color: #1d1f21;
    color: #ffffff;
    padding: 0;
    border-width: 0 2px 0 0;
    border-right: 2px #2d2f33 solid;
    height: 50px;
    padding: 0 5px;
    width: 50px;
    vertical-align: middle;
}
.player .player-skip-ahead, .player .player-skip-back {
    font-size: 18px;
}
.player .player-controls button span {
    display: block;
    font-family: Arial;
    font-size: 14px;
}
.player .player-seekbar {
    display: inline-block;
    margin: 0 22px;
    width: 50%;
}
.player .player-seekbar .slider {
    display: inline-block;
    height: 50px;
    width: 100%;
}
.player .player-seekbar .slider-track {
    height: 6px;
}
.player .player-seekbar .slider-handle {
    margin-left: -7px;
    margin-top: -4px;
    width: 14px;
    height: 14px;
}
.player .player-seekbar .tooltip.top {
    margin-top: -20px;
}
.player .player-copy-link {
    display: inline-block;
    cursor: pointer;
    background-color: #1d1f21;
    color: #ffffff;
    height: 50px;
    width: 50px;
}