# Web Server / Test Data #
##########################
public/
*.xml
*.mp3
*.mp4
*.m4a

# Junk #
########
.DS_Store

# Sublime Text files #
######################
.sublime-*

# Logs #
########
*.log

# node.js modules #
###################
node_modules/

# Deployment Settings #
#######################
config.js