extends layout

block content
  .container
    header
      h1 
        a(href=feed.feed_url) #{feed.title}
    .content
      ul
        each item in feed.items
          li #{item.title}
