extends layout

block content
  .container
    header
      h1 
        a(href=feed.feed_url) #{feed.title} 
          span.mega-octicon.octicon-rss 
    .content
      ul.itemlist.list-group
        each item in feed.items
          li.list-group-item #{item.title}
            audio.pull-right(controls='controls')
                source(src=item.enclosure.url, type='audio/mpeg')
