extends layout

block content
  .container
    header
      a(href=feed.feed_url, target='new').btn.btn-primary.pull-right
        b Subscribe 
        span.octicon.octicon-rss
      h1 #{feed.title}       
    .content
      ul.itemlist.list-group
        each item in feed.items
          li.list-group-item #{item.title} 
            button.btn.btn-primary.octicon.octicon-playback-play.pull-right.item-play-button(data-url=item.enclosure.url)
    include player
