extends layout

block content
  .container
    header
      h1 Feeds
    .content
      div.feedlist.list-group
        each feed in feeds
          a.list-group-item(href='feeds/' + feed.hash)
            div.thumb
                if (feed.image)
                    img(src=feed.image)
            span.item-text #{feed.title}