extends layout

block content
  .container
    header
      h1 Feeds
    .content
      div.feedlist.list-group
        each feed in feeds
          a.list-group-item(href=feed.link)
            div.thumb
              if (feed.image)
                img(src=feed.image)
            span.item-text #{feed.title}
            a.btn.btn-primary.btn-sm.octicon.octicon-rss.rss(href=feed.feed_url)