doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Feeds
    link(href="/lib/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    link(href="/lib/octicons/octicons.css", rel="stylesheet")
    link(href="/lib/bootstrap-slider/bootstrap-slider.css", rel="stylesheet")
    link(href="/lib/videojs/video-js.min.css", rel="stylesheet")   
    link(href="/css/style.css", rel="stylesheet")
    script(src="/lib/jquery-1.11.1.min.js")
    script(src="/lib/bootstrap/js/bootstrap.min.js")   
    script(src="/lib/bootstrap-slider/bootstrap-slider.js")
    script(src="/lib/mediaelement/mediaelement.min.js")   
    script(src="/lib/videojs/video.js")   
  body
  
  include header

  block content
  script(src="/js/audio-player.js")
  include footer