.btn-group.player
    audio
        source(type="audio/mpeg")
    button.btn.btn-default.mega-octicon.octicon-playback-rewind.skip-back 10
    button.btn.btn-default.mega-octicon.octicon-playback-play.play 
    button.btn.btn-default.mega-octicon.octicon-playback-fast-forward.skip-ahead 30