.btn-group.player
    audio
        source(type="audio/mpeg")
    button.btn.btn-default.mega-octicon.octicon-playback-rewind.rewind
    button.btn.btn-default.mega-octicon.octicon-playback-play.play
    button.btn.btn-default.mega-octicon.octicon-playback-fast-forward.ff