.btn-group.player.is-hidden
    audio
        source(type="audio/mpeg")
    .player-info
        span.player-np-label Now Playing: 
        span.player-title Nothing
        span.player-time.pull-right
    .player-controls
        button.mega-octicon.octicon-playback-rewind.player-skip-back
            span 10
        button.mega-octicon.octicon-playback-play.player-play 
        button.mega-octicon.octicon-playback-fast-forward.player-skip-ahead
            span 30
        input.player-seekbar