.btn-group.player.is-hidden
    audio#audioplayer
        source(type="audio/mpeg")
    .player-info
        span.player-time
        span.player-title 
    .player-controls
        .controlrow.seekbar
            span.player-seekbar 
                input
        .controlrow.buttons
            button.mega-octicon.octicon-playback-rewind.player-skip-back
                span 10
            button.mega-octicon.octicon-playback-play.player-play 
            button.mega-octicon.octicon-playback-fast-forward.player-skip-ahead
                span 30
            a.mega-octicon.octicon-bookmark.player-copy-link(title="Right Click -> Copy Location")

